{
  "swagger": "2.0",
  "info": {
    "version": "Latest",
    "title": "ORCID Public"
  },
  "host": "pub.orcid.org",
  "tags": [
    {
      "name": "Identifier API"
    },
    {
      "name": "Public API v2.1"
    }
  ],
  "paths": {
    "/v{version}/identifiers": {
      "get": {
        "tags": [
          "Identifier API"
        ],
        "summary": "Fetch identifier type map. Defaults to English descriptions",
        "description": "",
        "operationId": "viewIdentifierTypes",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "orcid_two_legs": [
              "/read-public"
            ]
          }
        ]
      }
    },
    "/v2.1/{orcid}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch record details",
        "description": "",
        "operationId": "viewRecordV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json",
          "application/ld+json; qs=2"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/RecordV2_0"
            }
          }
        },
        "externalDocs": {
          "description": "Record XML Schema",
          "url": "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/record-2.0.xsd"
        }
      }
    },
    "/v2.1/{orcid}/keywords/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch keyword",
        "description": "",
        "operationId": "viewKeywordV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeywordV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/address": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch all addresses",
        "description": "",
        "operationId": "viewAddressesV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AddressesV2_0"
            }
          }
        }
      }
    },
    "/v2.1/status": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Check the server status",
        "description": "",
        "operationId": "viewStatusTextV21",
        "produces": [
          "text/plain"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/activities": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch all Activities",
        "description": "",
        "operationId": "viewActivitiesV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ActivitiesSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/work/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch a Work",
        "description": "More notes about this method",
        "operationId": "viewWorkV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json",
          "application/vnd.citationstyles.csl+json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/work/summary/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch a Work Summary",
        "description": "",
        "operationId": "viewWorkSummaryV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/works": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch all works",
        "description": "",
        "operationId": "viewWorksV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorksSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/works/{putCodes}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch specified works",
        "description": "",
        "operationId": "viewSpecifiedWorksV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCodes",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkBulkV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/funding/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch a Funding",
        "description": "",
        "operationId": "viewFundingV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FundingV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/funding/summary/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch a Funding Summary",
        "description": "",
        "operationId": "viewFundingSummaryV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FundingSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/fundings": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch all fundings",
        "description": "",
        "operationId": "viewFundingsV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FundingsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/education/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch an Education",
        "description": "",
        "operationId": "viewEducationV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EducationV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/education/summary/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch an Education Summary",
        "description": "",
        "operationId": "viewEducationSummaryV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EducationSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/educations": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch all educations",
        "description": "",
        "operationId": "viewEducationsV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EducationsSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/employment/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch an Employment",
        "description": "Retrive a specific education representation",
        "operationId": "viewEmploymentV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Employment found",
            "schema": {
              "$ref": "#/definitions/EmploymentV2_0"
            }
          },
          "404": {
            "description": "Employment not found"
          }
        }
      }
    },
    "/v2.1/{orcid}/employment/summary/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch an Employment Summary",
        "description": "",
        "operationId": "viewEmploymentSummaryV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EmploymentSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/employments": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch all employments",
        "description": "",
        "operationId": "viewEmploymentsV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EmploymentsSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/peer-review/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch a Peer Review",
        "description": "",
        "operationId": "viewPeerReviewV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PeerReviewV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/peer-review/summary/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch a Peer Review Summary",
        "description": "",
        "operationId": "viewPeerReviewSummaryV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PeerReviewSummaryV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/peer-reviews": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch all peer reviews",
        "description": "",
        "operationId": "viewPeerReviewsV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PeerReviewsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/researcher-urls": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch all researcher urls for an ORCID ID",
        "description": "",
        "operationId": "viewResearcherUrlsV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/v2.1/{orcid}/researcher-urls/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch one researcher url for an ORCID ID",
        "description": "",
        "operationId": "viewResearcherUrlV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResearcherUrlsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/email": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch all emails for an ORCID ID",
        "description": "",
        "operationId": "viewEmailsV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EmailsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/personal-details": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch personal details for an ORCID ID",
        "description": "",
        "operationId": "viewPersonalDetailsV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PersonalDetailsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/other-names": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch Other names",
        "description": "",
        "operationId": "viewOtherNamesV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OtherNamesV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/other-names/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch Other name",
        "description": "",
        "operationId": "viewOtherNameV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OtherNameV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/external-identifiers": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch external identifiers",
        "description": "",
        "operationId": "viewExternalIdentifiersV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PersonExternalIdentifiersV2_0"
            }
          }
        },
        "security": [
          {
            "orcid_two_legs": [
              "/read-public"
            ]
          }
        ]
      }
    },
    "/v2.1/{orcid}/external-identifiers/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch external identifier",
        "description": "",
        "operationId": "viewExternalIdentifierV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PersonExternalIdentifierV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/keywords": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch keywords",
        "description": "",
        "operationId": "viewKeywordsV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeywordsV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/address/{putCode}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch an address",
        "description": "",
        "operationId": "viewAddressV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "putCode",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AddressV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/biography": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Get biography details",
        "description": "",
        "operationId": "viewBiographyV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BiographyV2_0"
            }
          }
        }
      }
    },
    "/v2.1/{orcid}/person": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch person details",
        "description": "",
        "operationId": "viewPersonV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "orcid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PersonV2_0"
            }
          }
        }
      }
    },
    "/v2.1/search": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Search records",
        "description": "",
        "operationId": "searchByQueryV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SearchV2_0"
            }
          }
        },
        "externalDocs": {
          "description": "Record XML Schema",
          "url": "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/search-2.0.xsd"
        }
      }
    },
    "/v2.1/client/{client_id}": {
      "get": {
        "tags": [
          "Public API v2.1"
        ],
        "summary": "Fetch client details",
        "description": "",
        "operationId": "viewClientV21",
        "produces": [
          "application/vnd.orcid+xml; qs=5",
          "application/orcid+xml; qs=3",
          "application/xml",
          "application/vnd.orcid+json; qs=4",
          "application/orcid+json; qs=2",
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[^/]+"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ClientSummary"
            }
          }
        },
        "externalDocs": {
          "description": "Record XML Schema",
          "url": "https://raw.githubusercontent.com/ORCID/orcid-model/master/src/main/resources/record_2.0/client-2.0.xsd"
        }
      }
    }
  },
  "securityDefinitions": {
    "orcid_two_legs": {
      "type": "oauth2",
      "tokenUrl": "https://pub.orcid.org/oauth/token",
      "flow": "application",
      "scopes": {
        "/read-public": "Read Public record"
      }
    }
  },
  "definitions": {
    "ActivitiesSummaryV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "educations": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/activities"
          },
          "$ref": "#/definitions/EducationsSummaryV2_0"
        },
        "employments": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/activities"
          },
          "$ref": "#/definitions/EmploymentsSummaryV2_0"
        },
        "fundings": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/activities"
          },
          "$ref": "#/definitions/FundingsV2_0"
        },
        "peer-reviews": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/activities"
          },
          "$ref": "#/definitions/PeerReviewsV2_0"
        },
        "works": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/activities"
          },
          "$ref": "#/definitions/WorksSummaryV2_0"
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "activities-summary",
        "namespace": "http://www.orcid.org/ns/activities"
      }
    },
    "AddressV2_0": {
      "type": "object",
      "required": [
        "country"
      ],
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "country": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/address"
          },
          "$ref": "#/definitions/CountryV2_0"
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "display-index": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "address",
        "namespace": "http://www.orcid.org/ns/address"
      }
    },
    "AddressesV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "address": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/address"
          },
          "items": {
            "xml": {
              "name": "address"
            },
            "$ref": "#/definitions/AddressV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "addresses",
        "namespace": "http://www.orcid.org/ns/address"
      }
    },
    "BiographyV2_0": {
      "type": "object",
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "content": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/personal-details"
          }
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "biography",
        "namespace": "http://www.orcid.org/ns/personal-details"
      }
    },
    "CompletionDateV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      },
      "xml": {
        "name": "completion-date",
        "namespace": "http://www.orcid.org/ns/history"
      }
    },
    "CountryV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "enum": [
            "AF",
            "AX",
            "AL",
            "DZ",
            "AS",
            "AD",
            "AO",
            "AI",
            "AQ",
            "AG",
            "AR",
            "AM",
            "AW",
            "AU",
            "AT",
            "AZ",
            "BS",
            "BH",
            "BD",
            "BB",
            "BY",
            "BE",
            "BZ",
            "BJ",
            "BM",
            "BT",
            "BO",
            "BQ",
            "BA",
            "BW",
            "BV",
            "BR",
            "IO",
            "BN",
            "BG",
            "BF",
            "BI",
            "KH",
            "CM",
            "CA",
            "CV",
            "KY",
            "CF",
            "TD",
            "CL",
            "CN",
            "CX",
            "CC",
            "CO",
            "KM",
            "CG",
            "CD",
            "CK",
            "CR",
            "CI",
            "HR",
            "CU",
            "CW",
            "CY",
            "CZ",
            "DK",
            "DJ",
            "DM",
            "DO",
            "EC",
            "EG",
            "SV",
            "GQ",
            "ER",
            "EE",
            "ET",
            "FK",
            "FO",
            "FJ",
            "FI",
            "FR",
            "GF",
            "PF",
            "TF",
            "GA",
            "GM",
            "GE",
            "DE",
            "GH",
            "GI",
            "GR",
            "GL",
            "GD",
            "GP",
            "GU",
            "GT",
            "GG",
            "GN",
            "GW",
            "GY",
            "HT",
            "HM",
            "VA",
            "HN",
            "HK",
            "HU",
            "IS",
            "IN",
            "ID",
            "IR",
            "IQ",
            "IE",
            "IM",
            "IL",
            "IT",
            "JM",
            "JP",
            "JE",
            "JO",
            "KZ",
            "KE",
            "KI",
            "KP",
            "KR",
            "KW",
            "KG",
            "LA",
            "LV",
            "LB",
            "LS",
            "LR",
            "LY",
            "LI",
            "LT",
            "LU",
            "MO",
            "MK",
            "MG",
            "MW",
            "MY",
            "MV",
            "ML",
            "MT",
            "MH",
            "MQ",
            "MR",
            "MU",
            "YT",
            "MX",
            "FM",
            "MD",
            "MC",
            "MN",
            "ME",
            "MS",
            "MA",
            "MZ",
            "MM",
            "NA",
            "NR",
            "NP",
            "NL",
            "NC",
            "NZ",
            "NI",
            "NE",
            "NG",
            "NU",
            "NF",
            "MP",
            "NO",
            "OM",
            "PK",
            "PW",
            "PS",
            "PA",
            "PG",
            "PY",
            "PE",
            "PH",
            "PN",
            "PL",
            "PT",
            "PR",
            "QA",
            "RE",
            "RO",
            "RU",
            "RW",
            "BL",
            "SH",
            "KN",
            "LC",
            "MF",
            "PM",
            "VC",
            "WS",
            "SM",
            "ST",
            "SA",
            "SN",
            "RS",
            "SC",
            "SL",
            "SG",
            "SX",
            "SK",
            "SI",
            "SB",
            "SO",
            "ZA",
            "GS",
            "SS",
            "ES",
            "LK",
            "SD",
            "SR",
            "SJ",
            "SZ",
            "SE",
            "CH",
            "SY",
            "TJ",
            "TZ",
            "TH",
            "TL",
            "TG",
            "TK",
            "TO",
            "TT",
            "TN",
            "TR",
            "TM",
            "TC",
            "TV",
            "UG",
            "UA",
            "AE",
            "GB",
            "US",
            "UM",
            "UY",
            "UZ",
            "VU",
            "VE",
            "VN",
            "VG",
            "VI",
            "WF",
            "EH",
            "YE",
            "ZM",
            "ZW",
            "TW",
            "XK"
          ]
        }
      },
      "xml": {
        "name": "country",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "CreatedDateV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      },
      "xml": {
        "name": "created-date",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "CreditNameV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "xml": {
        "name": "credit-name",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "DayV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "example": "28"
        }
      },
      "xml": {
        "name": "day",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "DeactivationDateV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      },
      "xml": {
        "name": "deactivation-date",
        "namespace": "http://www.orcid.org/ns/history"
      }
    },
    "DisambiguatedOrganizationV2_0": {
      "type": "object",
      "required": [
        "disambiguated-organization-identifier",
        "disambiguation-source"
      ],
      "properties": {
        "disambiguated-organization-identifier": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "disambiguation-source": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        }
      },
      "xml": {
        "name": "disambiguatedOrganization",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "EducationSummaryV2_0": {
      "type": "object",
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "department-name": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/education"
          }
        },
        "role-title": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/education"
          }
        },
        "start-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/FuzzyDateV2_0"
        },
        "end-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/FuzzyDateV2_0"
        },
        "organization": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/education"
          },
          "$ref": "#/definitions/OrganizationV2_0"
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "education-summary",
        "namespace": "http://www.orcid.org/ns/education"
      }
    },
    "EducationsSummaryV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "education-summary": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/education"
          },
          "items": {
            "xml": {
              "name": "education-summary"
            },
            "$ref": "#/definitions/EducationSummaryV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "educations",
        "namespace": "http://www.orcid.org/ns/activities"
      }
    },
    "EmailV2_0": {
      "type": "object",
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "email": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/email"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "verified": {
          "type": "boolean",
          "xml": {
            "attribute": true
          }
        },
        "primary": {
          "type": "boolean",
          "xml": {
            "attribute": true
          }
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "email",
        "namespace": "http://www.orcid.org/ns/email"
      }
    },
    "EmailsV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "email": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/email"
          },
          "items": {
            "xml": {
              "name": "email"
            },
            "$ref": "#/definitions/EmailV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "emails",
        "namespace": "http://www.orcid.org/ns/email"
      }
    },
    "EmploymentSummaryV2_0": {
      "type": "object",
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "department-name": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/employment"
          }
        },
        "role-title": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/employment"
          }
        },
        "start-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/FuzzyDateV2_0"
        },
        "end-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/FuzzyDateV2_0"
        },
        "organization": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/employment"
          },
          "$ref": "#/definitions/OrganizationV2_0"
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "employment-summary",
        "namespace": "http://www.orcid.org/ns/employment"
      }
    },
    "EmploymentsSummaryV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "employment-summary": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/employment"
          },
          "items": {
            "xml": {
              "name": "employment-summary"
            },
            "$ref": "#/definitions/EmploymentSummaryV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "employments",
        "namespace": "http://www.orcid.org/ns/activities"
      }
    },
    "ExternalIDV2_0": {
      "type": "object",
      "required": [
        "external-id-type",
        "external-id-value"
      ],
      "properties": {
        "external-id-type": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "external-id-value": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "external-id-url": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/UrlV2_0"
        },
        "external-id-relationship": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "enum": [
            "PART_OF",
            "SELF",
            "FUNDED_BY"
          ]
        }
      }
    },
    "ExternalIDsV2_0": {
      "type": "object",
      "properties": {
        "external-id": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "items": {
            "xml": {
              "name": "external-id"
            },
            "$ref": "#/definitions/ExternalIDV2_0"
          }
        }
      },
      "xml": {
        "name": "external-ids",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "FamilyNameV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "xml": {
        "name": "family-name",
        "namespace": "http://www.orcid.org/ns/record"
      }
    },
    "FundingGroupV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "external-ids": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/ExternalIDsV2_0"
        },
        "funding-summary": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/funding"
          },
          "items": {
            "xml": {
              "name": "funding-summary"
            },
            "$ref": "#/definitions/FundingSummaryV2_0"
          }
        }
      },
      "xml": {
        "name": "funding-group",
        "namespace": "http://www.orcid.org/ns/activities"
      }
    },
    "FundingSummaryV2_0": {
      "type": "object",
      "required": [
        "organization",
        "title",
        "type"
      ],
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "title": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/funding"
          },
          "$ref": "#/definitions/FundingTitleV2_0"
        },
        "external-ids": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/ExternalIDsV2_0"
        },
        "type": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/funding"
          },
          "enum": [
            "GRANT",
            "CONTRACT",
            "AWARD",
            "SALARY_AWARD"
          ]
        },
        "start-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/FuzzyDateV2_0"
        },
        "end-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/FuzzyDateV2_0"
        },
        "organization": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/funding"
          },
          "$ref": "#/definitions/OrganizationV2_0"
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        },
        "display-index": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "summary",
        "namespace": "http://www.orcid.org/ns/funding"
      }
    },
    "FundingTitleV2_0": {
      "type": "object",
      "properties": {
        "title": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/TitleV2_0"
        },
        "translated-title": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/TranslatedTitleV2_0"
        }
      },
      "xml": {
        "name": "title",
        "namespace": "http://www.orcid.org/ns/funding"
      }
    },
    "FundingsV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "group": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/activities"
          },
          "items": {
            "xml": {
              "name": "group"
            },
            "$ref": "#/definitions/FundingGroupV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "fundings",
        "namespace": "http://www.orcid.org/ns/activities"
      }
    },
    "FuzzyDateV2_0": {
      "type": "object",
      "required": [
        "year"
      ],
      "properties": {
        "year": {
          "$ref": "#/definitions/YearV2_0"
        },
        "month": {
          "$ref": "#/definitions/MonthV2_0"
        },
        "day": {
          "$ref": "#/definitions/DayV2_0"
        }
      }
    },
    "GivenNamesV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "xml": {
        "name": "given-names",
        "namespace": "http://www.orcid.org/ns/record"
      }
    },
    "HistoryV2_0": {
      "type": "object",
      "properties": {
        "creation-method": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/history"
          },
          "enum": [
            "API",
            "DIRECT",
            "MEMBER_REFERRED",
            "WEBSITE",
            "INTEGRATION_TEST"
          ]
        },
        "completion-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/history"
          },
          "$ref": "#/definitions/CompletionDateV2_0"
        },
        "submission-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/history"
          },
          "$ref": "#/definitions/SubmissionDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "claimed": {
          "type": "boolean",
          "xml": {
            "namespace": "http://www.orcid.org/ns/history"
          }
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "deactivation-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/history"
          },
          "$ref": "#/definitions/DeactivationDateV2_0"
        },
        "verified-email": {
          "type": "boolean",
          "xml": {
            "namespace": "http://www.orcid.org/ns/history"
          }
        },
        "verified-primary-email": {
          "type": "boolean",
          "xml": {
            "namespace": "http://www.orcid.org/ns/history"
          }
        }
      },
      "xml": {
        "name": "history",
        "namespace": "http://www.orcid.org/ns/history"
      }
    },
    "KeywordV2_0": {
      "type": "object",
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "content": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/keyword"
          }
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "display-index": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "keyword",
        "namespace": "http://www.orcid.org/ns/keyword"
      }
    },
    "KeywordsV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "keyword": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/keyword"
          },
          "items": {
            "xml": {
              "name": "keyword"
            },
            "$ref": "#/definitions/KeywordV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "keywords",
        "namespace": "http://www.orcid.org/ns/keyword"
      }
    },
    "LastModifiedDateV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      },
      "xml": {
        "name": "last-modified-date",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "MonthV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "example": "01"
        }
      },
      "xml": {
        "name": "month",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "NameV2_0": {
      "type": "object",
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "given-names": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/personal-details"
          },
          "$ref": "#/definitions/GivenNamesV2_0"
        },
        "family-name": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/personal-details"
          },
          "$ref": "#/definitions/FamilyNameV2_0"
        },
        "credit-name": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/personal-details"
          },
          "$ref": "#/definitions/CreditNameV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "name",
        "namespace": "http://www.orcid.org/ns/personal-details"
      }
    },
    "OrcidIdentifierV2_0": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "host": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        }
      },
      "xml": {
        "name": "orcid-identifier",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "OrganizationAddressV2_0": {
      "type": "object",
      "required": [
        "city",
        "country"
      ],
      "properties": {
        "city": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "region": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "country": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "enum": [
            "AF",
            "AX",
            "AL",
            "DZ",
            "AS",
            "AD",
            "AO",
            "AI",
            "AQ",
            "AG",
            "AR",
            "AM",
            "AW",
            "AU",
            "AT",
            "AZ",
            "BS",
            "BH",
            "BD",
            "BB",
            "BY",
            "BE",
            "BZ",
            "BJ",
            "BM",
            "BT",
            "BO",
            "BQ",
            "BA",
            "BW",
            "BV",
            "BR",
            "IO",
            "BN",
            "BG",
            "BF",
            "BI",
            "KH",
            "CM",
            "CA",
            "CV",
            "KY",
            "CF",
            "TD",
            "CL",
            "CN",
            "CX",
            "CC",
            "CO",
            "KM",
            "CG",
            "CD",
            "CK",
            "CR",
            "CI",
            "HR",
            "CU",
            "CW",
            "CY",
            "CZ",
            "DK",
            "DJ",
            "DM",
            "DO",
            "EC",
            "EG",
            "SV",
            "GQ",
            "ER",
            "EE",
            "ET",
            "FK",
            "FO",
            "FJ",
            "FI",
            "FR",
            "GF",
            "PF",
            "TF",
            "GA",
            "GM",
            "GE",
            "DE",
            "GH",
            "GI",
            "GR",
            "GL",
            "GD",
            "GP",
            "GU",
            "GT",
            "GG",
            "GN",
            "GW",
            "GY",
            "HT",
            "HM",
            "VA",
            "HN",
            "HK",
            "HU",
            "IS",
            "IN",
            "ID",
            "IR",
            "IQ",
            "IE",
            "IM",
            "IL",
            "IT",
            "JM",
            "JP",
            "JE",
            "JO",
            "KZ",
            "KE",
            "KI",
            "KP",
            "KR",
            "KW",
            "KG",
            "LA",
            "LV",
            "LB",
            "LS",
            "LR",
            "LY",
            "LI",
            "LT",
            "LU",
            "MO",
            "MK",
            "MG",
            "MW",
            "MY",
            "MV",
            "ML",
            "MT",
            "MH",
            "MQ",
            "MR",
            "MU",
            "YT",
            "MX",
            "FM",
            "MD",
            "MC",
            "MN",
            "ME",
            "MS",
            "MA",
            "MZ",
            "MM",
            "NA",
            "NR",
            "NP",
            "NL",
            "NC",
            "NZ",
            "NI",
            "NE",
            "NG",
            "NU",
            "NF",
            "MP",
            "NO",
            "OM",
            "PK",
            "PW",
            "PS",
            "PA",
            "PG",
            "PY",
            "PE",
            "PH",
            "PN",
            "PL",
            "PT",
            "PR",
            "QA",
            "RE",
            "RO",
            "RU",
            "RW",
            "BL",
            "SH",
            "KN",
            "LC",
            "MF",
            "PM",
            "VC",
            "WS",
            "SM",
            "ST",
            "SA",
            "SN",
            "RS",
            "SC",
            "SL",
            "SG",
            "SX",
            "SK",
            "SI",
            "SB",
            "SO",
            "ZA",
            "GS",
            "SS",
            "ES",
            "LK",
            "SD",
            "SR",
            "SJ",
            "SZ",
            "SE",
            "CH",
            "SY",
            "TJ",
            "TZ",
            "TH",
            "TL",
            "TG",
            "TK",
            "TO",
            "TT",
            "TN",
            "TR",
            "TM",
            "TC",
            "TV",
            "UG",
            "UA",
            "AE",
            "GB",
            "US",
            "UM",
            "UY",
            "UZ",
            "VU",
            "VE",
            "VN",
            "VG",
            "VI",
            "WF",
            "EH",
            "YE",
            "ZM",
            "ZW",
            "TW",
            "XK"
          ]
        }
      },
      "xml": {
        "name": "organizationAddress",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "OrganizationV2_0": {
      "type": "object",
      "required": [
        "address",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "address": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/OrganizationAddressV2_0"
        },
        "disambiguated-organization": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/DisambiguatedOrganizationV2_0"
        }
      },
      "xml": {
        "name": "organization",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "OtherNameV2_0": {
      "type": "object",
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "content": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/other-name"
          }
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "display-index": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "other-name",
        "namespace": "http://www.orcid.org/ns/other-name"
      }
    },
    "OtherNamesV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "other-name": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/other-name"
          },
          "items": {
            "xml": {
              "name": "other-name"
            },
            "$ref": "#/definitions/OtherNameV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "other-names",
        "namespace": "http://www.orcid.org/ns/other-name"
      }
    },
    "PeerReviewGroupV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "external-ids": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/ExternalIDsV2_0"
        },
        "peer-review-summary": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/peer-review"
          },
          "items": {
            "xml": {
              "name": "peer-review-summary"
            },
            "$ref": "#/definitions/PeerReviewSummaryV2_0"
          }
        }
      },
      "xml": {
        "name": "peer-review-group",
        "namespace": "http://www.orcid.org/ns/activities"
      }
    },
    "PeerReviewSummaryV2_0": {
      "type": "object",
      "required": [
        "convening-organization",
        "review-group-id"
      ],
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "external-ids": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/ExternalIDsV2_0"
        },
        "completion-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/peer-review"
          },
          "$ref": "#/definitions/FuzzyDateV2_0"
        },
        "review-group-id": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/peer-review"
          }
        },
        "convening-organization": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/peer-review"
          },
          "$ref": "#/definitions/OrganizationV2_0"
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        },
        "display-index": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "summary",
        "namespace": "http://www.orcid.org/ns/peer-review"
      }
    },
    "PeerReviewsV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "group": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/activities"
          },
          "items": {
            "xml": {
              "name": "group"
            },
            "$ref": "#/definitions/PeerReviewGroupV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "peer-reviews",
        "namespace": "http://www.orcid.org/ns/activities"
      }
    },
    "PersonExternalIdentifierV2_0": {
      "type": "object",
      "required": [
        "external-id-type",
        "external-id-value"
      ],
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "external-id-type": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "external-id-value": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "external-id-url": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/UrlV2_0"
        },
        "external-id-relationship": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "enum": [
            "PART_OF",
            "SELF",
            "FUNDED_BY"
          ]
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "display-index": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "external-identifier",
        "namespace": "http://www.orcid.org/ns/external-identifier"
      }
    },
    "PersonExternalIdentifiersV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "external-identifier": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/external-identifier"
          },
          "items": {
            "xml": {
              "name": "external-identifier"
            },
            "$ref": "#/definitions/PersonExternalIdentifierV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "external-identifiers",
        "namespace": "http://www.orcid.org/ns/external-identifier"
      }
    },
    "PersonV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "name": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/person"
          },
          "$ref": "#/definitions/NameV2_0"
        },
        "other-names": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/other-name"
          },
          "$ref": "#/definitions/OtherNamesV2_0"
        },
        "biography": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/person"
          },
          "$ref": "#/definitions/BiographyV2_0"
        },
        "researcher-urls": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/researcher-url"
          },
          "$ref": "#/definitions/ResearcherUrlsV2_0"
        },
        "emails": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/email"
          },
          "$ref": "#/definitions/EmailsV2_0"
        },
        "addresses": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/address"
          },
          "$ref": "#/definitions/AddressesV2_0"
        },
        "keywords": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/keyword"
          },
          "$ref": "#/definitions/KeywordsV2_0"
        },
        "external-identifiers": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/external-identifier"
          },
          "$ref": "#/definitions/PersonExternalIdentifiersV2_0"
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "person",
        "namespace": "http://www.orcid.org/ns/person"
      }
    },
    "PreferencesV2_0": {
      "type": "object",
      "properties": {
        "locale": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/preferences"
          },
          "enum": [
            "AR",
            "EN",
            "ES",
            "FR",
            "KO",
            "PT",
            "RU",
            "ZH_CN",
            "ZH_TW",
            "IT",
            "JA",
            "XX"
          ]
        }
      },
      "xml": {
        "name": "preferences",
        "namespace": "http://www.orcid.org/ns/preferences"
      }
    },
    "PublicationDateV2_0": {
      "type": "object",
      "required": [
        "year"
      ],
      "properties": {
        "year": {
          "$ref": "#/definitions/YearV2_0"
        },
        "month": {
          "$ref": "#/definitions/MonthV2_0"
        },
        "day": {
          "$ref": "#/definitions/DayV2_0"
        },
        "media-type": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "PRINT",
            "ONLINE",
            "OTHER"
          ]
        }
      },
      "xml": {
        "name": "publicationDate",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "RecordV2_0": {
      "type": "object",
      "properties": {
        "orcid-identifier": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/OrcidIdentifierV2_0"
        },
        "preferences": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/preferences"
          },
          "$ref": "#/definitions/PreferencesV2_0"
        },
        "history": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/history"
          },
          "$ref": "#/definitions/HistoryV2_0"
        },
        "person": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/person"
          },
          "$ref": "#/definitions/PersonV2_0"
        },
        "activities-summary": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/activities"
          },
          "$ref": "#/definitions/ActivitiesSummaryV2_0"
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "record",
        "namespace": "http://www.orcid.org/ns/record"
      }
    },
    "ResearcherUrlV2_0": {
      "type": "object",
      "properties": {
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "url-name": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/researcher-url"
          }
        },
        "url": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/researcher-url"
          },
          "$ref": "#/definitions/UrlV2_0"
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        },
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "display-index": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "researcher-url",
        "namespace": "http://www.orcid.org/ns/researcher-url"
      }
    },
    "ResearcherUrlsV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "researcher-url": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/researcher-url"
          },
          "items": {
            "xml": {
              "name": "researcher-url"
            },
            "$ref": "#/definitions/ResearcherUrlV2_0"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "researcher-urls",
        "namespace": "http://www.orcid.org/ns/researcher-url"
      }
    },
    "SourceClientIdV2_0": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "host": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        }
      },
      "xml": {
        "name": "sourceClientId",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "SourceNameV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "xml": {
        "name": "source-name",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "SourceOrcidV2_0": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "path": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        },
        "host": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          }
        }
      },
      "xml": {
        "name": "sourceOrcid",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "SourceV2_0": {
      "type": "object",
      "properties": {
        "source-orcid": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceOrcidV2_0"
        },
        "source-client-id": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceClientIdV2_0"
        },
        "source-name": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceNameV2_0"
        }
      },
      "xml": {
        "name": "source",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "SubmissionDateV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      },
      "xml": {
        "name": "submission-date",
        "namespace": "http://www.orcid.org/ns/history"
      }
    },
    "SubtitleV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "xml": {
        "name": "subtitle",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "TitleV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "xml": {
        "name": "title",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "TranslatedTitleV2_0": {
      "type": "object",
      "required": [
        "language-code"
      ],
      "properties": {
        "value": {
          "type": "string"
        },
        "language-code": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
      "xml": {
        "name": "translatedTitle",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "UrlV2_0": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "xml": {
        "name": "url",
        "namespace": "http://www.orcid.org/ns/common"
      }
    },
    "WorkGroupV2_0": {
      "type": "object",
      "properties": {
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "external-ids": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/ExternalIDsV2_0"
        },
        "work-summary": {
          "type": "array",
          "xml": {
            "namespace": "http://www.orcid.org/ns/work"
          },
          "items": {
            "xml": {
              "name": "work-summary"
            },
            "$ref": "#/definitions/WorkSummaryV2_0"
          }
        }
      },
      "xml": {
        "name": "work-group",
        "namespace": "http://www.orcid.org/ns/activities"
      }
    },
    "WorkSummaryV2_0": {
      "type": "object",
      "properties": {
        "put-code": {
          "type": "integer",
          "format": "int64",
          "xml": {
            "attribute": true
          }
        },
        "created-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/CreatedDateV2_0"
        },
        "last-modified-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/LastModifiedDateV2_0"
        },
        "source": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/SourceV2_0"
        },
        "title": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/work"
          },
          "$ref": "#/definitions/WorkTitleV2_0"
        },
        "external-ids": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/ExternalIDsV2_0"
        },
        "type": {
          "type": "string",
          "xml": {
            "namespace": "http://www.orcid.org/ns/work"
          },
          "enum": [
            "ARTISTIC_PERFORMANCE",
            "BOOK_CHAPTER",
            "BOOK_REVIEW",
            "BOOK",
            "CONFERENCE_ABSTRACT",
            "CONFERENCE_PAPER",
            "CONFERENCE_POSTER",
            "DATA_SET",
            "DICTIONARY_ENTRY",
            "DISCLOSURE",
            "DISSERTATION",
            "EDITED_BOOK",
            "ENCYCLOPEDIA_ENTRY",
            "INVENTION",
            "JOURNAL_ARTICLE",
            "JOURNAL_ISSUE",
            "LECTURE_SPEECH",
            "LICENSE",
            "MAGAZINE_ARTICLE",
            "MANUAL",
            "NEWSLETTER_ARTICLE",
            "NEWSPAPER_ARTICLE",
            "ONLINE_RESOURCE",
            "OTHER",
            "PATENT",
            "REGISTERED_COPYRIGHT",
            "REPORT",
            "RESEARCH_TECHNIQUE",
            "RESEARCH_TOOL",
            "REVIEW",
            "SPIN_OFF_COMPANY",
            "STANDARDS_AND_POLICY",
            "SUPERVISED_STUDENT_PUBLICATION",
            "TECHNICAL_STANDARD",
            "TEST",
            "TRADEMARK",
            "TRANSLATION",
            "WEBSITE",
            "WORKING_PAPER",
            "UNDEFINED"
          ]
        },
        "publication-date": {
          "xml": {
            "namespace": "http://www.orcid.org/ns/common"
          },
          "$ref": "#/definitions/PublicationDateV2_0"
        },
        "visibility": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "enum": [
            "LIMITED",
            "REGISTERED_ONLY",
            "PUBLIC",
            "PRIVATE"
          ]
        },
        "path": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        },
        "display-index": {
          "type": "string",
          "xml": {
            "attribute": true
          }
        }
      },
[...]
